

<h1>Dashboard</h1> 

<h3> Following </h3>
<%= render current_user.followed_users %>

<h3> Followed by </h3>
<%= render current_user.followers %>

<h3> Shouts </h3> 
<div id="timeline">
<%= render @shouts %>

